<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Spacedeck Open – {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="[[ '/images/favicon.png' | cdn ]]" rel="icon" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300|Montserrat:400,700|EB+Garamond|Vollkorn|Lato|Roboto|Source+Code+Pro|Ubuntu|Raleway|Playfair+Display|Crimson+Text' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/ee1a3484-4d98-4f9f-9f55-020a7b37f3c5.css"/>

    <link rel="stylesheet" href="[[ '/stylesheets/style.css' | cdn ]]">
    <script> var csrf_token = '[[ csrf_token ]]'; </script>
    
    <script src="[[ '/javascripts/jquery-2.1.4.min.js' | cdn ]]"></script>
  </head>

  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header id="landing-header" class="header">
      <div class="header-left">
        <a class="btn btn-transparent btn-nude" href="[[config.endpoint]]/"><img src="[[ '/images/sd5-logo.svg' | cdn ]]" width="190"></a>
      </div>

      <div class="header-right pull-right">
        {% if !user %}
          <span class="btn-group dark round">
            {% if (locale != "de") %}<a href="/t/de" rel="alternate" hreflang="de" class="btn btn-transparent btn-md">Deutsch</a>{% endif %}
            {% if (locale != "en") %}<a href="/t/en" rel="alternate" hreflang="en" class="btn btn-transparent btn-md">English</a>{% endif %}
            {% if (locale != "fr") %}<a href="/t/fr" rel="alternate" hreflang="fr" class="btn btn-transparent btn-md">Français</a>{% endif %}
          </span>

          <a class="btn btn-md btn-dark btn-round" href="/login">[[__("login")]]</a>
          <a class="btn btn-md btn-blue btn-round" href="/signup">[[__("signup")]]</a>
        {% else %}
          <a class="btn btn-md btn-blue btn-round" href="/spaces">[[__("spaces")]]</a>
          <a class="btn btn-md btn-dark btn-round" href="/logout">[[__("logout")]]</a>

        {% endif %}

      </div>
    </header>

    {% block content %}{% endblock %}

    <div class="footer">
      <p>
        <div class="col-xs-6">
          <a href="/contact">[[ __("contact") ]]</a>
          <span style="color:#888">&copy; 2011–2018 The Spacedeck Open Developers <a href="https://github.com/spacedeck/spacedeck-open">https://github.com/spacedeck/spacedeck-open</a></span>
        </div>
      </p>
    </div>
  </body>
</html>
