<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Spacedeck Open – {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="[[ '/images/favicon.png' | cdn ]]" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="[[ '/stylesheets/style.css' | cdn ]]">
    <script> var csrf_token = '[[ csrf_token ]]'; </script>
    
    <!--script src="[[ '/javascripts/jquery-2.1.4.min.js' | cdn ]]"></script-->
  </head>

  <body>
    <header id="landing-header" class="header">
      <div class="header-left">
        <a class="btn btn-transparent btn-nude" href="[[config.endpoint]]/"><img src="[[ '/images/sd6-logo-black.svg' | cdn ]]" width="190"></a>
      </div>

      <div class="header-right pull-right">
        {% if !user %}
          <a class="btn btn-md btn-dark btn-round" href="/login">[[__("login")]]</a>
          <a class="btn btn-md btn-dark btn-round" href="/signup">[[__("signup")]]</a>
        {% else %}
          <a class="btn btn-md btn-dark btn-round" href="/spaces">[[__("spaces")]]</a>
          <a class="btn btn-md btn-dark btn-round" href="/logout">[[__("logout")]]</a>
        {% endif %}

      </div>
    </header>

    {% block content %}{% endblock %}

    <div class="footer">
      <p>
        <div class="col-xs-6">
          &copy; 2020 <a href="https://mntre.com">MNT Research GmbH</a>, Fehlerstr. 8, 12161 Berlin, Germany<br>
          &copy; 2011–2019 Spacedeck GmbH (in liquidation)<br>
          Source Code: <a href="https://github.com/mntmn/spacedeck-open">https://github.com/mntmn/spacedeck-open</a>
          <br>
          Font: <a href="https://rsms.me/inter/">Inter by rsms</a>
        </div>
      </p>
    </div>
  </body>
</html>
