
    <div class="footer">
      <p>
        <div class="col-xs-6">
          Spacedeck is Free and Open Source Software. The developers are not affiliated with this website.<br>
          &copy; 2011–2020 <a href="https://github.com/mntmn/spacedeck-open">Spacedeck Open Developers</a><br>
          <br>
          Font: <a href="https://rsms.me/inter/">Inter by rsms</a>
        </div>
      </p>
    </div>
  </body>
</html>
