<html>
<body>
  <h2>[[space.name]]</h2>

  <table class="table table-striped" border=1>
  <tr>
    <th>created</th>
    <th>updated</th>
    <th>filetype</th>
    <th>filename</th>
    <th>preview</th>
  </tr>
  {% for a in space.artifacts %}
    <tr>
      <td>[[ a.created_at | date('d.m.Y H:i') ]] by [[ a.user.email ]][[ a.editor_name ]]</td>
      <td>[[ a.updated_at | date('d.m.Y H:i') ]] by [[ a.update_user.email ]][[ a.last_update_editor_name ]]</td>
      <td>[[ a.mime ]]</td>
      <td>{% if a.payload_uri %}<a href="[[a.payload_uri]]">[[ a.filename ]]</a>{% endif %}</td>
      <td>[[ a.description ]]</td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>
