<!DOCTYPE html>
<html>
  <head>
    <title>[[space.name]]</title>
    <meta charset="utf-8" />
    <meta property="og:title" content="[[space.name]]" />
    <meta property="og:description" content="" />
    <meta property="og:updated_time" content="[[space.updated_at.getTime()]]" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="[[space.thumbnail_url]]" />
  </head>

  <body>

    <h1>[[space.name]]</h1>
    {% for a in space.artifacts %}
      <tr>
        <td>[[ a.mime ]]</td>
        <td>[[ a.description | striptags  ]]</td>
        <td>{% if a.payload_uri %}<a href="[[ a.payload_uri ]]">download</a>{% endif %}</td>
      </tr>
    {% endfor %}

  </body>

</html>
