@font-face {
    font-family: 'icon';
    src: url('../fonts/icon-regular-webfont.eot');
    src: url('../fonts/icon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icon-regular-webfont.woff') format('woff'),
         url('../fonts/icon-regular-webfont.ttf') format('truetype'),
         url('../fonts/icon-regular-webfont.svg#iconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
