<h4 class="dialog-title">Crop<br/><br/>(Not yet implemented)</h4>

<div id="crop">
  <div class="dialog-section">
    <div class="form-group">
      <label class="label label-range">Size</label>
      <div class="range-wrapper">
        <output for="crop" value="50">50</output>
        <input type="range" name="crop" min="0" max="100" value="50">
      </div>
    </div>
  </div>

  <div id="fit" class="dialog-section">
    <div class="form-group">
      <label class="label label-sm">Proportions</label>
      <div class="btn-group center">
        <button class="btn btn-transparent btn-icon">
          <span class="icon number">Fit</span>
        </button>
        <button class="btn btn-transparent btn-icon">
          <span class="icon number">Fill</span>
        </button>
        <button class="btn btn-transparent btn-icon">
          <span class="icon number">1:1</span>
        </button>
      </div>
    </div>
  </div>
</div>