<h4 class="dialog-title">Image</h4>

<div id="image">
  <div class="dialog-section">
    <label class="btn btn-xxl btn-transparent btn-icon">
      <span class="icon icon-picture-upload"></span>
      <input type="file" multiple v-on:change="handle_image_file_upload($event)" id="image_file_upload">
    </label>
    <p>Click to Upload<br/> or drag file(s) anywhere.</p>
  </div>
  <div class="dialog-section no-p-b">
    <input type="text" v-model="image_search_query" class="input input-md input-white input-round text-center no-p no-b no-r input-block" placeholder="Search / Paste URL" v-on:keyup.enter="search_images(image_search_query)">
  </div>
  <button class="btn btn-transparent btn-block text-center" v-on:click="handle_insert_image_url(image_search_query)">Insert Image</button>
</div>
