<div class="dialog-section no-b no-p" v-if="active_space_loaded">
  <div class="btn-group">
    <button class="btn btn-transparent btn-icon-labeled" v-on:click="delete_selected_artifacts()" title="<%=__("delete")%>">
      <span class="icon icon-trash"></span>
      <span class="icon-label"><%=__("delete")%></span>
    </button>

    <button class="btn btn-divider"></button>

    <button class="btn btn-transparent btn-icon-labeled" v-on:click="lock_selected_artifacts()" v-if="active_space_role=='admin' || toolbar_lock_in" title="<%=__("lock")%>">
      <span class="icon icon-lock-closed"></span>
      <span class="icon-label"><%=__("lock")%></span>
    </button>

    <button class="btn btn-transparent btn-icon-labeled" v-on:click="unlock_selected_artifacts()" v-if="active_space_role=='admin' || toolbar_lock_in" title="<%=__("unlock")%>">
      <span class="icon icon-lock-open"></span>
      <span class="icon-label"><%=__("unlock")%></span>
    </button>

    <button class="btn btn-transparent btn-icon-labeled" v-on:click="duplicate_selected_artifacts()" title="<%=__("copy")%>">
      <span class="icon icon-duplicate"></span>
      <span class="icon-label"><%=__("copy")%></span>
    </button>

    <button class="btn btn-transparent btn-icon-labeled" v-on:click="create_link_on_selected_artifacts()" title="<%=__("link")%>">
      <span class="icon icon-link"></span>
      <span class="icon-label"><%=__("link")%></span>
    </button>

    <span v-if="first_selected_artifact">
      <button class="btn btn-transparent btn-icon-labeled" v-on:click="download_selected_artifacts()" v-if="selection_metrics.count==1 && first_selected_artifact.payload_uri" title="<%=__("download")%>">
        <span class="icon icon-download"></span>
        <span class="icon-label"><%=__("download")%></span>
      </button>
    </span>
  </div>
</div>
