<div id="sections">
  <h4 class="dialog-title">Selection</h4>

  <div class="dialog-section no-p no-b">
    <button class="btn btn-transparent btn-block " v-on="click: add_section('grid',-1)">
      <span style="margin: 7px" class="icon absolute-left icon-md icon-grid-free"></span>
      <span class="icon-label">Grid</span>
    </button>
  </div>

  <div class="dialog-section no-p">
    <button class="btn btn-transparent btn-block " v-on="click: add_section('board',-1)">
      <span style="margin: 7px" class="icon absolute-left icon-md icon-cluster"></span>
      <span class="icon-label">Canvas</span>
    </button>
  </div>

  <div class="dialog-section no-p">
    <button class="btn btn-transparent btn-block " v-on="click: add_section('article',-1)">
      <span style="margin: 7px" class="icon absolute-left icon-md icon-text-align-left"></span>
      <span class="icon-label">Article</span>
    </button>
  </div>
</div>
