<h4 class="dialog-title"><%=__("tool_shape")%></h4>

<div id="shapes">
  <div class="dialog-section">
    <div class="btn-group">
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('ellipse',$event)">
        <span class="icon icon-shape-circle"></span>
        <span class="icon-label"><%=__("tool_circle")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('hexagon',$event)">
        <span class="icon icon-shape-hexagon"></span>
        <span class="icon-label"><%=__("tool_hexagon")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('square',$event)">
        <span class="icon icon-shape-square"></span>
        <span class="icon-label"><%=__("tool_square")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('speechbubble',$event)">
        <span class="icon icon-shape-bubble"></span>
        <span class="icon-label"><%=__("tool_bubble")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('cloud',$event)">
        <span class="icon icon-shape-cloud"></span>
        <span class="icon-label"><%=__("tool_cloud")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('burst',$event)">
        <span class="icon icon-shape-burst"></span>
        <span class="icon-label"><%=__("tool_burst")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('star',$event)">
        <span class="icon icon-shape-star"></span>
        <span class="icon-label"><%=__("tool_star")%></span>
      </button>
      
      <button class="btn btn-icon-labeled btn-transparent" v-on:click="add_shape('heart',$event)">
        <span class="icon icon-shape-heart"></span>
        <span class="icon-label"><%=__("tool_heart")%></span>
      </button>

    </div>
  </div>
</div>
