<div class="dialog-section no-b no-p">
  <div class="btn-group">
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('align','left')">
      <span class="icon icon-text-align-left-alt"></span>
    </button>
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('align','center')">
      <span class="icon icon-text-align-center-alt"></span>
    </button>
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('align','right')">
      <span class="icon icon-text-align-right-alt"></span>
    </button>
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('align','justify')">
      <span class="icon icon-text-align-justify-alt"></span>
    </button>

    <button class="btn btn-divider"></button>
    
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('valign','top')">
      <span class="icon icon-align-vertical-top"></span>
    </button>
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('valign','middle')">
      <span class="icon icon-align-vertical-middle"></span>
    </button>
    <button class="btn btn-transparent btn-icon" v-on:click="set_artifact_style_prop('valign','bottom')">
      <span class="icon icon-align-vertical-bottom"></span>
    </button>
  </div>
</div>
