<h4 class="dialog-title"><%=__("text_formats")%></h4>

<ul class="select-list overflow-y-scroll" style="min-width: 200px;">
  <li id="note-format-div" v-on="mousedown:apply_formatting($event, 'p')"> <span><%=__("format_p")%></span> </li>
  <li id="note-format-ul"  v-on="mousedown:apply_formatting($event, 'insertunorderedlist')"> <span><%=__("format_bullets")%></span> </li>
  <li id="note-format-ol"  v-on="mousedown:apply_formatting($event, 'insertorderedlist')"> <span><%=__("format_numbers")%></span> </li>
  <li id="note-format-h1"  v-on="mousedown:apply_formatting($event, 'h1')"> <span><%=__("format_h1")%></span> </li>
  <li id="note-format-h2"  v-on="mousedown:apply_formatting($event, 'h2')"> <span><%=__("format_h2")%></span> </li>
  <li id="note-format-h3"  v-on="mousedown:apply_formatting($event, 'h3')"> <span><%=__("format_h3")%></span> </li>
</ul>

<!-- 
<div class="dialog-section no-p noflex">
  <button class="btn btn-transparent btn-block text-center"> Create New </button>
  <div class="btn-cluster">
    <button class="btn btn-transparent text-center"> Save </button>
    <button class="btn btn-transparent btn-block text-center"> Delete </button>
  </div>
</div>
 -->
