@import "vars";
@import "mixins";

//
// Close icons
// --------------------------------------------------


.close {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  color: $dark !important;
  opacity: 0.5;
  outline: 0 !important;

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    @include opacity(1);
  }

  // [converter] extracted button& to button.close
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
