#fill-color-12 { background-color: transparent !important;
  background-image: url('../images/opacity-grid.png');
  background-size: contain;
}

#fill-color-1  { background-color: #4a2f7e !important;}
#fill-color-2  { background-color: #9b59b6 !important;}
#fill-color-3  { background-color: #3498db !important;}
#fill-color-4  { background-color: #2ecc71 !important;}
#fill-color-5  { background-color: #f1c40f !important;}
#fill-color-6  { background-color: #e67e22 !important;}
#fill-color-7  { background-color: #d55c4b !important;}
#fill-color-8  { background-color: #6f4021 !important;}
#fill-color-9  { background-color: #ffffff !important;}
#fill-color-10 { background-color: #95a5a6 !important;}
#fill-color-11 { background-color: #252525 !important;}

#stroke-color-12 { background-color: transparent !important;
  background-image: url('../images/opacity-grid.png');
  background-size: contain;
}

#stroke-color-1  { background-color: #4a2f7e !important;}
#stroke-color-2  { background-color: #9b59b6 !important;}
#stroke-color-3  { background-color: #3498db !important;}
#stroke-color-4  { background-color: #2ecc71 !important;}
#stroke-color-5  { background-color: #f1c40f !important;}
#stroke-color-6  { background-color: #e67e22 !important;}
#stroke-color-7  { background-color: #d55c4b !important;}
#stroke-color-8  { background-color: #6f4021 !important;}
#stroke-color-9  { background-color: #ffffff !important;}
#stroke-color-10 { background-color: #95a5a6 !important;}
#stroke-color-11 { background-color: #252525 !important;}
