@import "vars";

#landing-header {
    background-color: white;
    height: 64px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#landing {
    margin-top: 100px;
    
    section {
        margin-left: 300px;
        
        > * {
            max-width: 600px;
        }
    }
}

.footer {
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
    #landing {
        section {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .footer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-right {
        right: auto;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 80px;
    }

    #folder-wrapper {
        padding-top: 128px;
    }
}
