@import "vars";
@import "mixins";

#editors, #editors-list {
  @include user-select(none);
  
  h6 {
    padding: 15px 25px;
    margin: 0px;
    color: $medium;
    font-size: 10px;
  }

  .overflow-y-scroll {
    top: 60px !important;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }
}



.editor > span {
  border-radius: $radius;
  display: block;
  // background-color: rgba(255,255,255,0.05);
  position: relative;
  padding: 11px 25px;
  padding-left: 45px !important;
  padding-right: 0px !important;
  min-height: 60px;
  border: none;

  .editor-avatar {
    height: 34px;
    width: 34px;
    line-height: 34px;
    left: 0px;  
    top: 10px;

    background-color: $dark;
    color: $darker ;
    color: white;
    font-weight: 700;

    font-size: 15px;
    font-family: $main-font;

    display: inline-block;
    text-align: center;
    border-radius: $radius;
    background-size: cover;
    background-position: center;
    position: absolute;
    &.status-off,
    &.status-on {
      &:before {
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        color: $darker ;
        border: 1px solid #292929;
        border-radius: 100px;

        padding: 4px; 
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0px;
        height: 4px;
        width: 4px;
      }
    }
    &.status-off:before {background-color: #d55c4b; content: "off"; display: none;}
    &.status-on:before {background-color: #2ecc71; content: "on"; }
  }

  .editor-email,
  .editor-name {
    font-family: $main-font;
    font-size: 11px;
    line-height: 1.3;
    display: block;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $medium;
  }
  .editor-email {
    opacity: 0.5;
  }
}