@import "vars";
@import "mixins";

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow-y: scroll;
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.overflow-x-scroll { 
  overflow-y: hidden;
  overflow-x: scroll;
}

.fit {
  position: absolute !important;
  width: auto;
  height: auto;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.overflow-scroll,
.overflow-hidden,
.overflow-x-scroll,
.overflow-y-scroll {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }
  &::-webkit-scrollbar-corner,::-webkit-scrollbar {
    background-color: rgba(0,0,0,0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
    -webkit-background-clip: padding-box;
    border: 0px solid transparent;
  }
}
