.icon-bullet:before {
  content: "\2022";
}

.icon-hyphen:before {
  content: "\002D";
}

.icon-Euro:before {
  content: "\20AC";
}

.icon-minus:before {
  content: "\2212";
}

.icon-plus:before {
  content: "\002B";
}

.icon-cloud:before {
  content: "\2601";
}

.icon-lightning:before {
  content: "\2607";
}

.icon-heartsuitblack:before {
  content: "\2665";
}

.icon-whiteFlag:before {
  content: "\2690";
}

.icon-blackFlag:before {
  content: "\2691";
}

.icon-crossedSwords:before {
  content: "\2694";
}

.icon-blackScissorsRight:before {
  content: "\2702";
}

.icon-airplane:before {
  content: "\2708";
}

.icon-envelope:before {
  content: "\2709";
}

.icon-pencil:before {
  content: "\270F";
}

.icon-sparkle:before {
  content: "\2747";
}

.icon-at:before {
  content: "\0040";
}

.icon-copyright:before {
  content: "\00A9";
}

.icon-registered:before {
  content: "\00AE";
}

.icon-section:before {
  content: "\00A7";
}

.icon-battery:before {
  content: "\1F50B";
}

.icon-bell:before {
  content: "\1F514";
}

.icon-bookmark:before {
  content: "\1F516";
}

.icon-calendar:before {
  content: "\1F4C5";
}

.icon-camera:before {
  content: "\1F4F7";
}

.icon-clipboard:before {
  content: "\1F4CB";
}

.icon-hourglass:before {
  content: "\231B";
}

.icon-microphone:before {
  content: "\1F3A4";
}

.icon-newspaper:before {
  content: "\1F4F0";
}

.icon-paperclip:before {
  content: "\1F4CE";
}

.icon-radio:before {
  content: "\1F4FB";
}

.icon-wrench:before {
  content: "\1F527";
}

.icon-align-bottom:before {
  content: "\E004";
}

.icon-align-center-horizontal:before {
  content: "\E005";
}

.icon-align-center-vertical:before {
  content: "\E006";
}

.icon-align-left:before {
  content: "\E007";
}

.icon-align-right:before {
  content: "\E008";
}

.icon-align-to-canvas:before {
  content: "\E009";
}

.icon-align-top:before {
  content: "\E00A";
}

.icon-align-vertical-bottom:before {
  content: "\E00B";
}

.icon-align-vertical-middle:before {
  content: "\E00C";
}

.icon-align-vertical-top:before {
  content: "\E00D";
}

.icon-antenna:before {
  content: "\E00E";
}

.icon-application:before {
  content: "\E00F";
}

.icon-arrow-0:before {
  content: "\E010";
}

.icon-arrow-1:before {
  content: "\E011";
}

.icon-arrow-2:before {
  content: "\E012";
}

.icon-arrow-3:before {
  content: "\E013";
}

.icon-arrow-4:before {
  content: "\E014";
}

.icon-arrow-bottom-light:before {
  content: "\E015";
}

.icon-arrow-down:before {
  content: "\E016";
}

.icon-arrow-fork:before {
  content: "\E017";
}

.icon-arrow-horizontal:before {
  content: "\E018";
}

.icon-arrow-left:before {
  content: "\E019";
}

.icon-arrow-left-down:before {
  content: "\E01A";
}

.icon-arrow-left-light:before {
  content: "\E01B";
}

.icon-arrow-left-up:before {
  content: "\E01C";
}

.icon-arrow-merge:before {
  content: "\E01D";
}

.icon-arrow-right:before {
  content: "\E01E";
}

.icon-arrow-right-down:before {
  content: "\E01F";
}

.icon-arrow-right-light:before {
  content: "\E020";
}

.icon-arrow-right-up:before {
  content: "\E021";
}

.icon-arrow-thin-down:before {
  content: "\E022";
}

.icon-arrow-thin-left:before {
  content: "\E023";
}

.icon-arrow-thin-right:before {
  content: "\E024";
}

.icon-arrow-thin-up:before {
  content: "\E025";
}

.icon-arrow-top:before {
  content: "\E026";
}

.icon-arrow-top-light:before {
  content: "\E027";
}

.icon-arrow-vertical:before {
  content: "\E028";
}

.icon-arrows-horizontal:before {
  content: "\E029";
}

.icon-arrows-in:before {
  content: "\E02A";
}

.icon-arrows-out:before {
  content: "\E02B";
}

.icon-arrows-thin-horizontal:before {
  content: "\E02C";
}

.icon-arrows-thin-vertical:before {
  content: "\E02D";
}

.icon-arrows-vertical:before {
  content: "\E02E";
}

.icon-ban-0:before {
  content: "\E02F";
}

.icon-ban-1:before {
  content: "\E030";
}

.icon-ban-2:before {
  content: "\E031";
}

.icon-ban-3:before {
  content: "\E032";
}

.icon-ban-4:before {
  content: "\E033";
}

.icon-bar-code:before {
  content: "\E034";
}

.icon-battery-0:before {
  content: "\E035";
}

.icon-battery-1:before {
  content: "\E036";
}

.icon-battery-2:before {
  content: "\E037";
}

.icon-battery-3:before {
  content: "\E038";
}

.icon-battery-4:before {
  content: "\E039";
}

.icon-battery-5:before {
  content: "\E03A";
}

.icon-battery-6:before {
  content: "\E03B";
}

.icon-battery-7:before {
  content: "\E03C";
}

.icon-battery-8:before {
  content: "\E03D";
}

.icon-battery-loading:before {
  content: "\E03E";
}

.icon-beverage-beer:before {
  content: "\E03F";
}

.icon-beverage-cocktail:before {
  content: "\E040";
}

.icon-beverage-wine:before {
  content: "\E041";
}

.icon-book:before {
  content: "\E042";
}

.icon-book-contacts:before {
  content: "\E043";
}

.icon-book-open:before {
  content: "\E044";
}

.icon-border-dashed:before {
  content: "\E045";
}

.icon-border-dotted:before {
  content: "\E046";
}

.icon-border-radius:before {
  content: "\E047";
}

.icon-border-solid:before {
  content: "\E048";
}

.icon-brightness:before {
  content: "\E049";
}

.icon-calculator:before {
  content: "\E04A";
}

.icon-calculator-black:before {
  content: "\E04B";
}

.icon-camera-black:before {
  content: "\E04C";
}

.icon-canvas:before {
  content: "\E04D";
}

.icon-canvas-square:before {
  content: "\E04E";
}

.icon-cd:before {
  content: "\E04F";
}

.icon-certificate:before {
  content: "\E050";
}

.icon-chart-0:before {
  content: "\E051";
}

.icon-chart-1:before {
  content: "\E052";
}

.icon-chart-2:before {
  content: "\E053";
}

.icon-chart-3:before {
  content: "\E054";
}

.icon-chart-4:before {
  content: "\E055";
}

.icon-chart-5:before {
  content: "\E056";
}

.icon-chart-6:before {
  content: "\E057";
}

.icon-chart-7:before {
  content: "\E058";
}

.icon-chart-8:before {
  content: "\E059";
}

.icon-chart-bars:before {
  content: "\E05A";
}

.icon-check:before {
  content: "\E05B";
}

.icon-chevron-down-0:before {
  content: "\E05C";
}

.icon-chevron-down-1:before {
  content: "\E05D";
}

.icon-chevron-down-2:before {
  content: "\E05E";
}

.icon-chevron-down-3:before {
  content: "\E05F";
}

.icon-chevron-down-4:before {
  content: "\E060";
}

.icon-chevron-left-0:before {
  content: "\E061";
}

.icon-chevron-left-1:before {
  content: "\E062";
}

.icon-chevron-left-2:before {
  content: "\E063";
}

.icon-chevron-left-3:before {
  content: "\E064";
}

.icon-chevron-left-4:before {
  content: "\E065";
}

.icon-chevron-right-0:before {
  content: "\E066";
}

.icon-chevron-right-1:before {
  content: "\E067";
}

.icon-chevron-right-2:before {
  content: "\E068";
}

.icon-chevron-right-3:before {
  content: "\E069";
}

.icon-chevron-right-4:before {
  content: "\E06A";
}

.icon-chevron-up-0:before {
  content: "\E06B";
}

.icon-chevron-up-1:before {
  content: "\E06C";
}

.icon-chevron-up-2:before {
  content: "\E06D";
}

.icon-chevron-up-3:before {
  content: "\E06E";
}

.icon-chevron-up-4:before {
  content: "\E06F";
}

.icon-circle-0:before {
  content: "\E070";
}

.icon-circle-1:before {
  content: "\E071";
}

.icon-circle-2:before {
  content: "\E072";
}

.icon-circle-3:before {
  content: "\E073";
}

.icon-circle-4:before {
  content: "\E074";
}

.icon-circle-check:before {
  content: "\E075";
}

.icon-circle-down:before {
  content: "\E076";
}

.icon-circle-exclude:before {
  content: "\E077";
}

.icon-circle-info:before {
  content: "\E078";
}

.icon-circle-intersect:before {
  content: "\E079";
}

.icon-circle-left:before {
  content: "\E07A";
}

.icon-circle-minus:before {
  content: "\E07B";
}

.icon-circle-plus:before {
  content: "\E07C";
}

.icon-circle-question:before {
  content: "\E07D";
}

.icon-circle-remove:before {
  content: "\E07E";
}

.icon-circle-right:before {
  content: "\E07F";
}

.icon-circle-subtract:before {
  content: "\E080";
}

.icon-circle-unite:before {
  content: "\E081";
}

.icon-circle-up:before {
  content: "\E082";
}

.icon-circle-warning:before {
  content: "\E083";
}

.icon-clock:before {
  content: "\E084";
}

.icon-cloud-down:before {
  content: "\E085";
}

.icon-cloud-upload:before {
  content: "\E086";
}

.icon-cluster:before {
  content: "\E087";
}

.icon-cogwheel:before {
  content: "\E088";
}

.icon-columns:before {
  content: "\E089";
}

.icon-columns-3:before {
  content: "\E08A";
}

.icon-compass:before {
  content: "\E08B";
}

.icon-compass-east:before {
  content: "\E08C";
}

.icon-compass-north:before {
  content: "\E08D";
}

.icon-compass-north-east:before {
  content: "\E08E";
}

.icon-compass-north-west:before {
  content: "\E08F";
}

.icon-compass-south:before {
  content: "\E090";
}

.icon-compass-south-east:before {
  content: "\E091";
}

.icon-compass-south-west:before {
  content: "\E092";
}

.icon-compass-west:before {
  content: "\E093";
}

.icon-contrast:before {
  content: "\E094";
}

.icon-controls-backward:before {
  content: "\E095";
}

.icon-controls-eject:before {
  content: "\E096";
}

.icon-controls-fast-backward:before {
  content: "\E097";
}

.icon-controls-fast-forward:before {
  content: "\E098";
}

.icon-controls-forward:before {
  content: "\E099";
}

.icon-controls-pause:before {
  content: "\E09A";
}

.icon-controls-play:before {
  content: "\E09B";
}

.icon-controls-stop:before {
  content: "\E09C";
}

.icon-couple:before {
  content: "\E09D";
}

.icon-creditcard:before {
  content: "\E09E";
}

.icon-cross-0:before {
  content: "\E09F";
}

.icon-cross-1:before {
  content: "\E0A0";
}

.icon-cross-2:before {
  content: "\E0A1";
}

.icon-cross-3:before {
  content: "\E0A2";
}

.icon-cross-4:before {
  content: "\E0A3";
}

.icon-cross-hair:before {
  content: "\E0A4";
}

.icon-cullumn-spacing:before {
  content: "\E0A5";
}

.icon-currency-dollar:before {
  content: "\E0A6";
}

.icon-currency-pound:before {
  content: "\E0A7";
}

.icon-cursor-text:before {
  content: "\E0A8";
}

.icon-cursor-text-frame:before {
  content: "\E0A9";
}

.icon-curved-arrow:before {
  content: "\E0AA";
}

.icon-cuttlery:before {
  content: "\E0AB";
}

.icon-dashboard:before {
  content: "\E0AC";
}

.icon-device-desktop:before {
  content: "\E0AD";
}

.icon-device-mobile:before {
  content: "\E0AE";
}

.icon-device-mobile-down:before {
  content: "\E0AF";
}

.icon-device-mobile-transfer:before {
  content: "\E0B0";
}

.icon-device-mobile-up:before {
  content: "\E0B1";
}

.icon-device-mp3:before {
  content: "\E0B2";
}

.icon-device-notebook:before {
  content: "\E0B3";
}

.icon-device-tablet:before {
  content: "\E0B4";
}

.icon-directions-axis:before {
  content: "\E0B5";
}

.icon-directions-omni:before {
  content: "\E0B6";
}

.icon-directions-seperate:before {
  content: "\E0B7";
}

.icon-distribute-horizontal:before {
  content: "\E0B8";
}

.icon-distribute-vertical:before {
  content: "\E0B9";
}

.icon-download:before {
  content: "\E0BA";
}

.icon-duplicate:before {
  content: "\E0BB";
}

.icon-duplicate-alt:before {
  content: "\E0BC";
}

.icon-edge-bottom:before {
  content: "\E0BD";
}

.icon-edge-left:before {
  content: "\E0BE";
}

.icon-edge-right:before {
  content: "\E0BF";
}

.icon-edge-top:before {
  content: "\E0C0";
}

.icon-ellipse-horizontal:before {
  content: "\E0C1";
}

.icon-ellipse-vertical:before {
  content: "\E0C2";
}

.icon-embed:before {
  content: "\E0C3";
}

.icon-embed-alt:before {
  content: "\E0C4";
}

.icon-emote-1:before {
  content: "\E0C5";
}

.icon-emote-2:before {
  content: "\E0C6";
}

.icon-emote-3:before {
  content: "\E0C7";
}

.icon-emote-4:before {
  content: "\E0C8";
}

.icon-emote-big-smile:before {
  content: "\E0C9";
}

.icon-emote-only-happy:before {
  content: "\E0CA";
}

.icon-emote-sad:before {
  content: "\E0CB";
}

.icon-emote-smile:before {
  content: "\E0CC";
}

.icon-emote-tongue:before {
  content: "\E0CD";
}

.icon-escape:before {
  content: "\E0CE";
}

.icon-eye-closed:before {
  content: "\E0CF";
}

.icon-eye-open:before {
  content: "\E0D0";
}

.icon-feather:before {
  content: "\E0D1";
}

.icon-female:before {
  content: "\E0D2";
}

.icon-female-afro:before {
  content: "\E0D3";
}

.icon-female-bun:before {
  content: "\E0D4";
}

.icon-female-emo:before {
  content: "\E0D5";
}

.icon-female-long-hair:before {
  content: "\E0D6";
}

.icon-female-moslem:before {
  content: "\E0D7";
}

.icon-female-pigtails:before {
  content: "\E0D8";
}

.icon-female-pigtails-alt:before {
  content: "\E0D9";
}

.icon-female-user:before {
  content: "\E0DA";
}

.icon-fetch:before {
  content: "\E0DB";
}

.icon-file-check:before {
  content: "\E0DC";
}

.icon-file-edit:before {
  content: "\E0DD";
}

.icon-file-share:before {
  content: "\E0DE";
}

.icon-fit-to:before {
  content: "\E0DF";
}

.icon-flag:before {
  content: "\E0E0";
}

.icon-flip-down:before {
  content: "\E0E1";
}

.icon-flip-left:before {
  content: "\E0E2";
}

.icon-flip-right:before {
  content: "\E0E3";
}

.icon-flip-up:before {
  content: "\E0E4";
}

.icon-floppydisk:before {
  content: "\E0E5";
}

.icon-flow:before {
  content: "\E0E6";
}

.icon-folder:before {
  content: "\E0E7";
}

.icon-folder-down:before {
  content: "\E0E8";
}

.icon-folder-favorites:before {
  content: "\E0E9";
}

.icon-folder-flagged:before {
  content: "\E0EA";
}

.icon-folder-leave:before {
  content: "\E0EB";
}

.icon-folder-locked:before {
  content: "\E0EC";
}

.icon-folder-minus:before {
  content: "\E0ED";
}

.icon-folder-open:before {
  content: "\E0EE";
}

.icon-folder-open-2:before {
  content: "\E0EF";
}

.icon-folder-plus:before {
  content: "\E0F0";
}

.icon-folder-remove:before {
  content: "\E0F1";
}

.icon-folder-shared:before {
  content: "\E0F2";
}

.icon-folder-up:before {
  content: "\E0F3";
}

.icon-form-exclude:before {
  content: "\E0F4";
}

.icon-form-intersect:before {
  content: "\E0F5";
}

.icon-form-subtract:before {
  content: "\E0F6";
}

.icon-form-unite:before {
  content: "\E0F7";
}

.icon-full-screen:before {
  content: "\E0F8";
}

.icon-fullscreen-off:before {
  content: "\E0F9";
}

.icon-fullscreen-on:before {
  content: "\E0FA";
}

.icon-globe:before {
  content: "\E0FB";
}

.icon-grid:before {
  content: "\E0FC";
}

.icon-grid-free:before {
  content: "\E0FD";
}

.icon-grid-small:before {
  content: "\E0FE";
}

.icon-group:before {
  content: "\E0FF";
}

.icon-handle:before {
  content: "\E100";
}

.icon-harddrive:before {
  content: "\E101";
}

.icon-heading:before {
  content: "\E102";
}

.icon-headphones:before {
  content: "\E103";
}

.icon-heart:before {
  content: "\E104";
}

.icon-heart-hollow:before {
  content: "\E105";
}

.icon-history:before {
  content: "\E106";
}

.icon-home:before {
  content: "\E107";
}

.icon-human:before {
  content: "\E108";
}

.icon-inbox:before {
  content: "\E109";
}

.icon-info:before {
  content: "\E10A";
}

.icon-input-checkbox:before {
  content: "\E10B";
}

.icon-input-checkbox-checked:before {
  content: "\E10C";
}

.icon-input-radio:before {
  content: "\E10D";
}

.icon-input-radio-checked:before {
  content: "\E10E";
}

.icon-leave:before {
  content: "\E10F";
}

.icon-lightbulb:before {
  content: "\E110";
}

.icon-line-0:before {
  content: "\E111";
}

.icon-line-1:before {
  content: "\E112";
}

.icon-line-2:before {
  content: "\E113";
}

.icon-line-3:before {
  content: "\E114";
}

.icon-line-4:before {
  content: "\E115";
}

.icon-line-half-0:before {
  content: "\E116";
}

.icon-line-half-1:before {
  content: "\E117";
}

.icon-line-half-2:before {
  content: "\E118";
}

.icon-line-half-3:before {
  content: "\E119";
}

.icon-line-half-4:before {
  content: "\E11A";
}

.icon-lines:before {
  content: "\E11B";
}

.icon-link:before {
  content: "\E11C";
}

.icon-link-closed:before {
  content: "\E11D";
}

.icon-link-closed-alt:before {
  content: "\E11E";
}

.icon-link-open:before {
  content: "\E11F";
}

.icon-link-open-alt:before {
  content: "\E120";
}

.icon-list:before {
  content: "\E121";
}

.icon-location:before {
  content: "\E122";
}

.icon-lock-closed:before {
  content: "\E123";
}

.icon-lock-open:before {
  content: "\E124";
}

.icon-login:before {
  content: "\E125";
}

.icon-logout:before {
  content: "\E126";
}

.icon-loop:before {
  content: "\E127";
}

.icon-magnet:before {
  content: "\E128";
}

.icon-mail:before {
  content: "\E129";
}

.icon-male:before {
  content: "\E12A";
}

.icon-male-add:before {
  content: "\E12B";
}

.icon-male-afro:before {
  content: "\E12C";
}

.icon-male-business:before {
  content: "\E12D";
}

.icon-male-cool:before {
  content: "\E12E";
}

.icon-male-emo:before {
  content: "\E12F";
}

.icon-male-flathat:before {
  content: "\E130";
}

.icon-male-gentleman:before {
  content: "\E131";
}

.icon-male-hoodie:before {
  content: "\E132";
}

.icon-male-jew:before {
  content: "\E133";
}

.icon-male-monk:before {
  content: "\E134";
}

.icon-male-moslem:before {
  content: "\E135";
}

.icon-male-mustache:before {
  content: "\E136";
}

.icon-male-punk:before {
  content: "\E137";
}

.icon-male-remove:before {
  content: "\E138";
}

.icon-male-scuba:before {
  content: "\E139";
}

.icon-male-soldier:before {
  content: "\E13A";
}

.icon-male-techno:before {
  content: "\E13B";
}

.icon-male-user:before {
  content: "\E13C";
}

.icon-megaphone:before {
  content: "\E13D";
}

.icon-menu:before {
  content: "\E13E";
}

.icon-menu-2:before {
  content: "\E13F";
}

.icon-message:before {
  content: "\E140";
}

.icon-message-add:before {
  content: "\E141";
}

.icon-message-blank:before {
  content: "\E142";
}

.icon-messages:before {
  content: "\E143";
}

.icon-microphone-off:before {
  content: "\E144";
}

.icon-mirror-horizontal:before {
  content: "\E145";
}

.icon-mirror-horizontal-alt:before {
  content: "\E146";
}

.icon-mirror-vertical:before {
  content: "\E147";
}

.icon-mirror-vertical-alt:before {
  content: "\E148";
}

.icon-moon-first-quarter:before {
  content: "\E149";
}

.icon-moon-full:before {
  content: "\E14A";
}

.icon-moon-new:before {
  content: "\E14B";
}

.icon-moon-third-quarter:before {
  content: "\E14C";
}

.icon-moon-waning-crescent:before {
  content: "\E14D";
}

.icon-moon-waning-gibbous:before {
  content: "\E14E";
}

.icon-moon-waxing-crescent:before {
  content: "\E14F";
}

.icon-moon-waxing-gibbous:before {
  content: "\E150";
}

.icon-move:before {
  content: "\E151";
}

.icon-move-down:before {
  content: "\E152";
}

.icon-move-left:before {
  content: "\E153";
}

.icon-move-right:before {
  content: "\E154";
}

.icon-move-up:before {
  content: "\E155";
}

.icon-movie:before {
  content: "\E156";
}

.icon-music-note:before {
  content: "\E157";
}

.icon-music-upload:before {
  content: "\E158";
}

.icon-newspaper-alt:before {
  content: "\E159";
}

.icon-padding:before {
  content: "\E15A";
}

.icon-padding-bottom:before {
  content: "\E15B";
}

.icon-padding-left:before {
  content: "\E15C";
}

.icon-padding-right:before {
  content: "\E15D";
}

.icon-padding-top:before {
  content: "\E15E";
}

.icon-page-horizontal:before {
  content: "\E15F";
}

.icon-page-horizontal-down:before {
  content: "\E160";
}

.icon-page-horizontal-flag:before {
  content: "\E161";
}

.icon-page-horizontal-locked:before {
  content: "\E162";
}

.icon-page-horizontal-minus:before {
  content: "\E163";
}

.icon-page-horizontal-plus:before {
  content: "\E164";
}

.icon-page-horizontal-remove:before {
  content: "\E165";
}

.icon-page-horizontal-up:before {
  content: "\E166";
}

.icon-page-vert:before {
  content: "\E167";
}

.icon-page-vertical-double:before {
  content: "\E168";
}

.icon-page-vertical-down:before {
  content: "\E169";
}

.icon-page-vertical-flag:before {
  content: "\E16A";
}

.icon-page-vertical-image:before {
  content: "\E16B";
}

.icon-page-vertical-locked:before {
  content: "\E16C";
}

.icon-page-vertical-minus:before {
  content: "\E16D";
}

.icon-page-vertical-plus:before {
  content: "\E16E";
}

.icon-page-vertical-remove:before {
  content: "\E16F";
}

.icon-page-vertical-table:before {
  content: "\E170";
}

.icon-page-vertical-text:before {
  content: "\E171";
}

.icon-page-vertical-up:before {
  content: "\E172";
}

.icon-palette:before {
  content: "\E173";
}

.icon-palette-alt:before {
  content: "\E174";
}

.icon-paperplane:before {
  content: "\E175";
}

.icon-photofilm:before {
  content: "\E176";
}

.icon-picture:before {
  content: "\E177";
}

.icon-picture-landscape:before {
  content: "\E178";
}

.icon-picture-portrait:before {
  content: "\E179";
}

.icon-picture-upload:before {
  content: "\E17A";
}

.icon-pictures:before {
  content: "\E17B";
}

.icon-pin:before {
  content: "\E17C";
}

.icon-planet:before {
  content: "\E001";
}

.icon-point:before {
  content: "\E17D";
}

.icon-pointing-down:before {
  content: "\E17E";
}

.icon-pointing-left:before {
  content: "\E17F";
}

.icon-pointing-right:before {
  content: "\E180";
}

.icon-pointing-up:before {
  content: "\E181";
}

.icon-postcard:before {
  content: "\E182";
}

.icon-power-off:before {
  content: "\E183";
}

.icon-present:before {
  content: "\E184";
}

.icon-presentation:before {
  content: "\E185";
}

.icon-printer:before {
  content: "\E186";
}

.icon-pull:before {
  content: "\E187";
}

.icon-push:before {
  content: "\E188";
}

.icon-qr-code:before {
  content: "\E189";
}

.icon-quote:before {
  content: "\E18A";
}

.icon-radio-black:before {
  content: "\E18B";
}

.icon-random:before {
  content: "\E18C";
}

.icon-record:before {
  content: "\E18D";
}

.icon-redo:before {
  content: "\E18E";
}

.icon-resize-full:before {
  content: "\E18F";
}

.icon-resize-small:before {
  content: "\E190";
}

.icon-retweet:before {
  content: "\E191";
}

.icon-rings:before {
  content: "\E192";
}

.icon-road:before {
  content: "\E193";
}

.icon-rotate:before {
  content: "\E194";
}

.icon-rotate-2:before {
  content: "\E195";
}

.icon-rotate-3:before {
  content: "\E196";
}

.icon-rotate-left:before {
  content: "\E197";
}

.icon-rotate-right:before {
  content: "\E198";
}

.icon-rss:before {
  content: "\E199";
}

.icon-search:before {
  content: "\E000";
}

.icon-section-alt:before {
  content: "\E19A";
}

.icon-section-alt-2:before {
  content: "\E19B";
}

.icon-section-edit:before {
  content: "\E19C";
}

.icon-selection:before {
  content: "\E19D";
}

.icon-selection-circle:before {
  content: "\E19E";
}

.icon-selection-circle-strong:before {
  content: "\E19F";
}

.icon-selection-square:before {
  content: "\E1A0";
}

.icon-selection-square-strong:before {
  content: "\E1A1";
}

.icon-server:before {
  content: "\E1A2";
}

.icon-shape-bubble:before {
  content: "\E1A3";
}

.icon-shape-burst:before {
  content: "\E1A4";
}

.icon-shape-circle:before {
  content: "\E1A5";
}

.icon-shape-cloud:before {
  content: "\E1A6";
}

.icon-shape-cross:before {
  content: "\E1A7";
}

.icon-shape-heart:before {
  content: "\E1A8";
}

.icon-shape-hexagon:before {
  content: "\E1A9";
}

.icon-shape-octagon:before {
  content: "\E1AA";
}

.icon-shape-pentagon:before {
  content: "\E1AB";
}

.icon-shape-plus:before {
  content: "\E1AC";
}

.icon-shape-square:before {
  content: "\E1AD";
}

.icon-shape-star:before {
  content: "\E1AE";
}

.icon-shape-triangle:before {
  content: "\E1AF";
}

.icon-shapes:before {
  content: "\E1B0";
}

.icon-share:before {
  content: "\E1B1";
}

.icon-shopping-cart:before {
  content: "\E1B2";
}

.icon-signal:before {
  content: "\E1B3";
}

.icon-signal-alt:before {
  content: "\E1B4";
}

.icon-size:before {
  content: "\E1B5";
}

.icon-size-both:before {
  content: "\E1B6";
}

.icon-size-horizontal:before {
  content: "\E1B7";
}

.icon-size-vertical:before {
  content: "\E1B8";
}

.icon-social-dribbble:before {
  content: "\E1B9";
}

.icon-social-dropbox:before {
  content: "\E1BA";
}

.icon-social-facebook:before {
  content: "\E1BB";
}

.icon-social-flickr:before {
  content: "\E1BC";
}

.icon-social-google:before {
  content: "\E1BD";
}

.icon-social-soundcloud:before {
  content: "\E002";
}

.icon-social-square-dribbble:before {
  content: "\E1BE";
}

.icon-social-square-dropbox:before {
  content: "\E1BF";
}

.icon-social-square-facebook:before {
  content: "\E1C0";
}

.icon-social-square-flickr:before {
  content: "\E1C1";
}

.icon-social-square-google:before {
  content: "\E1C2";
}

.icon-social-square-soundcloud:before {
  content: "\E003";
}

.icon-social-square-tumblr:before {
  content: "\E1C3";
}

.icon-social-square-twitter:before {
  content: "\E1C4";
}

.icon-social-square-vimeo:before {
  content: "\E1C5";
}

.icon-social-square-vine:before {
  content: "\E1C6";
}

.icon-social-square-youtube:before {
  content: "\E1C7";
}

.icon-social-tumblr:before {
  content: "\E1C8";
}

.icon-social-twitter:before {
  content: "\E1C9";
}

.icon-social-vimeo:before {
  content: "\E1CA";
}

.icon-social-vine:before {
  content: "\E1CB";
}

.icon-social-youtube:before {
  content: "\E1CC";
}

.icon-sort-alphabetical-ascending:before {
  content: "\E1CD";
}

.icon-sort-alphabetical-descending:before {
  content: "\E1CE";
}

.icon-sort-ascending:before {
  content: "\E1CF";
}

.icon-sort-descending:before {
  content: "\E1D0";
}

.icon-sort-numerical-ascending:before {
  content: "\E1D1";
}

.icon-sort-numerical-descending:before {
  content: "\E1D2";
}

.icon-sorting:before {
  content: "\E1D3";
}

.icon-sorting-ascending:before {
  content: "\E1D4";
}

.icon-sorting-descending:before {
  content: "\E1D5";
}

.icon-sound-5-1:before {
  content: "\E1D6";
}

.icon-sound-6-1:before {
  content: "\E1D7";
}

.icon-sound-7-1:before {
  content: "\E1D8";
}

.icon-sound-dolby:before {
  content: "\E1D9";
}

.icon-sound-full:before {
  content: "\E1DA";
}

.icon-sound-off:before {
  content: "\E1DB";
}

.icon-sound-silent:before {
  content: "\E1DC";
}

.icon-sound-stereo:before {
  content: "\E1DD";
}

.icon-space-horizontal:before {
  content: "\E1DE";
}

.icon-space-shared:before {
  content: "\E1DF";
}

.icon-space-vertical:before {
  content: "\E1E0";
}

.icon-spacedeck-logo:before {
  content: "\E1E1";
}

.icon-spacing-horizontal:before {
  content: "\E1E2";
}

.icon-spacing-vertical:before {
  content: "\E1E3";
}

.icon-square-down:before {
  content: "\E1E4";
}

.icon-square-left:before {
  content: "\E1E5";
}

.icon-square-right:before {
  content: "\E1E6";
}

.icon-square-up:before {
  content: "\E1E7";
}

.icon-stack-3d:before {
  content: "\E1E8";
}

.icon-stack-3d-bottom:before {
  content: "\E1E9";
}

.icon-stack-3d-top:before {
  content: "\E1EA";
}

.icon-stack-bottom:before {
  content: "\E1EB";
}

.icon-stack-down:before {
  content: "\E1EC";
}

.icon-stack-top:before {
  content: "\E1ED";
}

.icon-stack-up:before {
  content: "\E1EE";
}

.icon-star:before {
  content: "\E1EF";
}

.icon-star-hollow:before {
  content: "\E1F0";
}

.icon-stash-apply:before {
  content: "\E1F1";
}

.icon-stash-save:before {
  content: "\E1F2";
}

.icon-statistic:before {
  content: "\E1F3";
}

.icon-step-backward:before {
  content: "\E1F4";
}

.icon-step-forward:before {
  content: "\E1F5";
}

.icon-stroke-weight:before {
  content: "\E1F6";
}

.icon-subtitles:before {
  content: "\E1F7";
}

.icon-suitcase:before {
  content: "\E1F8";
}

.icon-table:before {
  content: "\E1F9";
}

.icon-tag:before {
  content: "\E1FA";
}

.icon-tags:before {
  content: "\E1FB";
}

.icon-text-align-center:before {
  content: "\E1FC";
}

.icon-text-align-center-alt:before {
  content: "\E1FD";
}

.icon-text-align-justify:before {
  content: "\E1FE";
}

.icon-text-align-justify-alt:before {
  content: "\E1FF";
}

.icon-text-align-left:before {
  content: "\E200";
}

.icon-text-align-left-alt:before {
  content: "\E201";
}

.icon-text-align-right:before {
  content: "\E202";
}

.icon-text-align-right-alt:before {
  content: "\E203";
}

.icon-text-allcaps:before {
  content: "\E204";
}

.icon-text-bold:before {
  content: "\E205";
}

.icon-text-frame:before {
  content: "\E206";
}

.icon-text-indent:before {
  content: "\E207";
}

.icon-text-italic:before {
  content: "\E208";
}

.icon-text-list:before {
  content: "\E209";
}

.icon-text-list-alphabetical:before {
  content: "\E20A";
}

.icon-text-list-alt:before {
  content: "\E20B";
}

.icon-text-list-bullet:before {
  content: "\E20C";
}

.icon-text-list-numbered:before {
  content: "\E20D";
}

.icon-text-normal:before {
  content: "\E20E";
}

.icon-text-remove-format:before {
  content: "\E20F";
}

.icon-text-roman:before {
  content: "\E210";
}

.icon-text-size:before {
  content: "\E211";
}

.icon-text-strike:before {
  content: "\E212";
}

.icon-text-styles:before {
  content: "\E213";
}

.icon-text-sub:before {
  content: "\E214";
}

.icon-text-super:before {
  content: "\E215";
}

.icon-text-typeface:before {
  content: "\E216";
}

.icon-text-underline:before {
  content: "\E217";
}

.icon-text-unindent:before {
  content: "\E218";
}

.icon-text-uppercase:before {
  content: "\E219";
}

.icon-text-width:before {
  content: "\E21A";
}

.icon-thumbs-down:before {
  content: "\E21B";
}

.icon-thumbs-up:before {
  content: "\E21C";
}

.icon-tint:before {
  content: "\E21D";
}

.icon-tint-hollow:before {
  content: "\E21E";
}

.icon-tint-none:before {
  content: "\E21F";
}

.icon-tool-arrow:before {
  content: "\E220";
}

.icon-tool-circle:before {
  content: "\E221";
}

.icon-tool-crop:before {
  content: "\E222";
}

.icon-tool-draw:before {
  content: "\E223";
}

.icon-tool-erase:before {
  content: "\E224";
}

.icon-tool-eyedrop:before {
  content: "\E225";
}

.icon-tool-fill:before {
  content: "\E226";
}

.icon-tool-hand:before {
  content: "\E227";
}

.icon-tool-library:before {
  content: "\E228";
}

.icon-tool-line:before {
  content: "\E229";
}

.icon-tool-magic-wand:before {
  content: "\E22A";
}

.icon-tool-pointer:before {
  content: "\E22B";
}

.icon-tool-rectangle:before {
  content: "\E22C";
}

.icon-tool-scribble:before {
  content: "\E22D";
}

.icon-tool-stroke:before {
  content: "\E22E";
}

.icon-tool-text:before {
  content: "\E22F";
}

.icon-tool-text-alt:before {
  content: "\E230";
}

.icon-tool-zone:before {
  content: "\E231";
}

.icon-tool-zones:before {
  content: "\E232";
}

.icon-transfer:before {
  content: "\E233";
}

.icon-trash:before {
  content: "\E234";
}

.icon-tree-conifer:before {
  content: "\E235";
}

.icon-tree-deciduous:before {
  content: "\E236";
}

.icon-triangle-0:before {
  content: "\E237";
}

.icon-triangle-0-bottom:before {
  content: "\E238";
}

.icon-triangle-0-left:before {
  content: "\E239";
}

.icon-triangle-0-right:before {
  content: "\E23A";
}

.icon-triangle-0-top:before {
  content: "\E23B";
}

.icon-triangle-1:before {
  content: "\E23C";
}

.icon-triangle-1-bottom:before {
  content: "\E23D";
}

.icon-triangle-1-left:before {
  content: "\E23E";
}

.icon-triangle-1-right:before {
  content: "\E23F";
}

.icon-triangle-1-top:before {
  content: "\E240";
}

.icon-triangle-2:before {
  content: "\E241";
}

.icon-triangle-2-bottom:before {
  content: "\E242";
}

.icon-triangle-2-left:before {
  content: "\E243";
}

.icon-triangle-2-right:before {
  content: "\E244";
}

.icon-triangle-2-top:before {
  content: "\E245";
}

.icon-triangle-3:before {
  content: "\E246";
}

.icon-triangle-3-bottom:before {
  content: "\E247";
}

.icon-triangle-3-left:before {
  content: "\E248";
}

.icon-triangle-3-right:before {
  content: "\E249";
}

.icon-triangle-3-top:before {
  content: "\E24A";
}

.icon-triangle-4:before {
  content: "\E24B";
}

.icon-triangle-4-bottom:before {
  content: "\E24C";
}

.icon-triangle-4-left:before {
  content: "\E24D";
}

.icon-triangle-4-right:before {
  content: "\E24E";
}

.icon-triangle-4-top:before {
  content: "\E24F";
}

.icon-triangle-down:before {
  content: "\E250";
}

.icon-triangle-left:before {
  content: "\E251";
}

.icon-triangle-right:before {
  content: "\E252";
}

.icon-triangle-up:before {
  content: "\E253";
}

.icon-triangles-horizontal:before {
  content: "\E254";
}

.icon-triangles-vertical:before {
  content: "\E255";
}

.icon-undo:before {
  content: "\E256";
}

.icon-ungroup:before {
  content: "\E257";
}

.icon-uniE000:before {
  content: "\E258";
}

.icon-upload:before {
  content: "\E259";
}

.icon-upload-alt:before {
  content: "\E25A";
}

.icon-user:before {
  content: "\E25B";
}

.icon-user-add:before {
  content: "\E25C";
}

.icon-user-group:before {
  content: "\E25D";
}

.icon-user-group-2:before {
  content: "\E25E";
}

.icon-user-group-3:before {
  content: "\E25F";
}

.icon-user-group-gentlemen:before {
  content: "\E260";
}

.icon-user-minus:before {
  content: "\E261";
}

.icon-user-remove:before {
  content: "\E262";
}

.icon-video-camera:before {
  content: "\E263";
}

.icon-video-camera-off:before {
  content: "\E264";
}

.icon-video-hd:before {
  content: "\E265";
}

.icon-video-sd:before {
  content: "\E266";
}

.icon-video-upload:before {
  content: "\E267";
}

.icon-vinyl:before {
  content: "\E268";
}

.icon-warning:before {
  content: "\E269";
}

.icon-wifi:before {
  content: "\E26A";
}

.icon-window:before {
  content: "\E26B";
}

.icon-window-new:before {
  content: "\E26C";
}

.icon-window-new-alt:before {
  content: "\E26D";
}

.icon-zone:before {
  content: "\E26E";
}

.icon-zone-edit:before {
  content: "\E26F";
}

.icon-zoom:before {
  content: "\E270";
}

.icon-zoom-in:before {
  content: "\E271";
}

.icon-zoom-out:before {
  content: "\E272";
}

.icon-helper-bar:before {
  content: "\E273";
}

.icon-helper-needle:before {
  content: "\E274";
}

.icon-helper-screen:before {
  content: "\E275";
}

