$radius: 3px !default;
$unit: 60px !default;

$blue: #3d9ee9;
$blue-light: #4dafeb;
$blue-lighter: #77c8f8;
$yellow: #f1c40f;
$green: #2ecc71;
$red: #ff5955;
$yellow: #f1c40f;

$color-1  : #4a2f7e; // purple
$color-2  : #9b59b6; // lilac
$color-3  : #3498db; // blue
$color-4  : #2ecc71; // green
$color-5  : #f1c40f; // yellow
$color-6  : #e67e22; // orange
$color-7  : #d55c4b; // red
$color-8  : #6f4021; // brown
$color-9  : #ffffff; // white
$color-10 : #95a5a6; // grey
$color-11 : #252525; // black

$black: #111; // black
$darker: #292929;
$dark: #222; // dark
$medium: #888; // medium
$light: #f5f5f5;
$lightish: #eee; // fixme
$lighter: #989898;
$white: #ffffff;

$sidebar-width: 280px;

$main-font: Inter;
$sec-font: Inter;

$font-size: 20px;
$line-height: 1.5em;

$gutter-a: 10px;
$gutter-b: 20px;
$gutter-c: 40px;
$gutter-d: 60px;
$gutter-e: 80px;

$folder-gutter: 20px;
